/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* End Fonts */

/* General */
body {
	background: #276C97;
}
@media (min-width: 992px) {
	.fixed-bg {
		background:url('../img/IMG_2223.JPG');
		background-size: cover;
		width: 100%;
		height: 100%;
		position: fixed;
		display: block;
		opacity: .15;
		overflow: hidden;
		z-index:-1;
	}
}

.container {
	background: #f8f8f8;
}
@media (min-width: 768px) {
	body {
		background: #276C97 url('../img/bg.png') repeat;
	}

	.container {
		position: relative;
		top: 15px;
		margin-bottom: 30px;
		box-shadow: 0 0 18px #333;
		padding: 0 30px;
	}	
}

.page-border-top {
	border-bottom: 4px solid #00008c;
	margin-top: 17px;
}

.miniman {
	height:42px;
	width:100%;
	text-align:center;
	margin-top:-22px;
}

.miniman img {
	height:30px;
	margin-top:10px;
}

.page-border-bottom {
	border-top: 4px solid #00008c;
	margin-bottom: 17px;
}

/* End General */

/* Header */
.header {
	margin-bottom: 10px;
}

.header img {
	max-width: 100%;
	margin-bottom: 11px;
}

.header-img {
	position: relative;
}

.header-img .headermobile {
	width: 100%;
}

.header-img .btn {
	margin-bottom: 10px;
}

.header-img .cta {
	position: absolute;
	right: 25px;
	bottom: 20px;
	text-align: right;
	color: #fff;
}

.header-img .cta nav a {
	color: #fff;
}

.header ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

.header li {
	display: block;
}

.header .menu a {
	padding: 7px 30px;
	font-size:16px;
	display: block;
}

@media (min-width: 768px) {
	.header .menu a {
		padding: 7px 16px;
	}
}

@media (min-width: 992px) {
	.header .menu a {
		padding: 7px 25px;
	}
}

@media (min-width: 1200px) {
	.header .menu a {
		padding: 7px 30px;
	}
}

.header .menu a:hover, 
.header .menu a:focus {
	text-decoration: none;
	background: #eee;
	color:#00008c;
}

.header .current_page_item a,
.header .current_page_item a:hover,
.header .current_page_parent a,
.header .current_page_parent a:hover,
.header .current-page-ancestor a,
.header .current-page-ancestor a:hover {
	color: #fff;
	background: #00008c;
}

@media (max-width: 767px) {
	.header .menu a {
		background: #00008c;
		color: white;
		font-size: 1.4em;
		padding:4px 30px;
		text-align: center;
	}
	.header .current_page_item a,
	.header .current_page_item a:hover,
	.header .current_page_parent a,
	.header .current_page_parent a:hover,
	.header .current-page-ancestor a,
	.header .current-page-ancestor a:hover {
		color: #00008c;
		background: #ccd;
	}
}

.header .navbar-toggle {
	position: absolute;
	top: 15%;
	right: 10px;
	background-color: #00008c;
	border-color: #00008c;
}

.header .navbar-toggle .icon-bar {
	background: #fff;
}

@media (min-width: 768px) {
	.header li {
		display: inline-block;
	}
	
	.header .collapse {
		display: block;
		visibility: visible;
		height: auto !important;
	}
}
/* End Header */

/* Footer */
.footer {
	margin-bottom: 20px;
	text-align: center;
}

.footer .inner {
	background: #eee;
	padding: 15px;
}

.footer .logos a {
	display: block;
	float: left;
	border-right: 1px solid #f8f8f8;
	margin: 5px 0;
}

.footer .logos img {
	max-width: 100%;
	height: 50px;
	padding: 0px 15px;
}

.footer .logos a:hover {
	background: #ddd;
}

.footer .info {
	padding-top: 2px;
	color: #aaa;
}

.footer .info a {
	color: #aaa;
}

.footer .info span {
	color: #555;
}

@media (min-width: 768px) {
	.footer {
		text-align: left;
	}
	
	.footer .info {
		text-align: right;
	}
	
	.footer .logos a {
		width: auto;
	}
	
	.footer .logos img {
		height: 80px;
	}
}
/* End Footer */

/* Page */

@media (min-width: 992px) {
	.page-nav .fixed {
		position: fixed;
		top: 0;
		width: 180px;
	}
}

@media (min-width: 1200px) {
	.page-nav .fixed {
		width: 205px;
	}
}

.page-nav ul {
	list-style: none;
	padding: 0;
}

@media (min-width: 768px) {
	.page-nav ul {
		margin-top: 20px;
	}
}

.page-nav a {
	display: block;
	padding: 12px 0 12px 10px;
	border-bottom: 1px solid #ccd;
}

.page-nav li:last-child a {
	border-bottom: 0;
}

.page-nav a:hover {
	text-decoration: none;
	background: #eee;
	color: #00008c;
}

.page-nav .current-item a {
	text-decoration: none;
	background: #00008c;
	color: white;
}

@media (max-width: 767px) {
	.page-nav a {
		padding: 8px 0 8px 10px;
	}

	.page-nav .current-item a {
		text-decoration: none;
		background: #ccd;
		color: #00008c;
	}
}

.entry {
	margin-bottom: 40px;
}

.entry .img-full {
	width: 100%;
	margin: 10px 0;
}

.entry .img-left {
	width: 45%;
	float: left;
	margin: 4px 10px 2px 0;
}

.entry .img-right {
	width:45%;
	float: right;
	margin: 4px 0 2px 10px;
}

@media (max-width: 768px) {
		.xs-img-full {
			width: 100% !important;
			margin: 10px 0 !important;
		}
}

@media (min-width: 768px) {
	.entry {
		min-height: 400px;
	}
	
	.alignright {
		float: right;
		margin: 0 0 20px 20px;
	}
	
	.alignleft {
		float: left;
		margin: 0 20px 20px 0;
	}
}
/* End Page */

/* News */
.news-archive {
	margin-bottom: 40px;
}

.news-archive article {
	margin-bottom: 40px;
}

.sidebar {
	min-height: 400px;
	margin-bottom: 40px;
}

.sidebar ul {
	padding: 0;
	list-style: none;
}

.widget {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.news-archive {
		min-height: 400px;
	}
}
/* News */

/* Home */
.sidebar h3 {
	background: #00008c;
	color: white;
	font-weight: 300;
	padding: 2px 2px 2px 7px;
	display: block;
	font-size: 25px;
	line-height: 1.42;
	margin: 0;
}

.sidebar .news-item {
	padding: 12px 0;
	border-bottom: 1px solid #ccd;
}

.sidebar .news-item h4 {
	margin: 0 0 4px;
}

.sidebar .news-item p {
	margin: 0;
}

.sidebar img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.carousel {
	margin-bottom: 15px;
	border: 2px solid #00008c;
}
/* End Home */

/* Contact */
.table-responsive.contact {
	border: none !important;
}

.contact td {
	border: none !important;
	padding: 0 0 25px !important;
}
.maps {
	width: 100px;
}
.maps img {
	width: 125px;
	padding-right: 17px;
	margin-right: 14px;
	border-right: 1px solid #ccd;
}

/* End Contact */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
