/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* End Fonts */

/* General */
body {
	background: #276C97;
}

.container {
	background: #f8f8f8;
}
/* End General */

/* Header */
.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header img {
	max-width: 100%;
	margin-bottom: 20px;
}

.header-img {
	position: relative;
}

.header-img .btn {
	margin-bottom: 10px;
}

.header-img .cta {
	position: absolute;
	right: 25px;
	bottom: 30px;
	text-align: right;
	color: #fff;
}

.header-img .cta nav a {
	color: #fff;
}

.header ul {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}

.header li {
	display: block;
}

.header .menu a {
	padding: 8px 10px;
	display: block;
}

.header .menu a:hover {
	text-decoration: none;
	background: #eee;
}

.header .current_page_item a,
.header .current_page_item a:hover,
.header .current_page_parent a,
.header .current_page_parent a:hover,
.header .current-page-ancestor a,
.header .current-page-ancestor a:hover {
	color: #fff;
	background: #00008c;
}

.header .navbar-toggle {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #fff;
	border-color: #ccc;
}

.header .navbar-toggle .icon-bar {
	background: #000;
}

@media (min-width: 768px) {
	.header li {
		display: inline-block;
	}
	
	.header .collapse {
		display: block;
		visibility: visible;
		height: auto !important;
	}
}
/* End Header */

/* Footer */
.footer {
	margin-bottom: 20px;
	text-align: center;
}

.footer .inner {
	background: #eee;
	padding: 10px;
}

.footer .logos a {
	padding: 10px;
	display: inline-block;
	border-radius: 4px;
	width: 45%;
}

.footer .logos img {
	max-width: 100%;
}

.footer .logos a:hover {
	background: #ddd;
}

.footer .info {
	padding-top: 10px;
	color: #aaa;
}

.footer .info a {
	color: #aaa;
}

.footer .info span {
	color: #555;
}

@media (min-width: 768px) {
	.footer {
		text-align: left;
	}
	
	.footer .info {
		text-align: right;
	}
	
	.footer .logos a {
		margin-right: 10px;
		width: auto;
	}
}
/* End Footer */

/* Page */
.page-nav ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.page-nav a {
	display: block;
	padding: 8px 0 8px 10px;
	border-bottom: 1px solid #ccd;
}

.page-nav li:last-child a {
	border-bottom: 0;
}

.page-nav .current-item a,
.page-nav a:hover {
	text-decoration: none;
	background: #eee;
}

.entry {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.entry {
		min-height: 400px;
	}
	
	.alignright {
		float: right;
		margin: 0 0 20px 20px;
	}
	
	.alignleft {
		float: left;
		margin: 0 20px 20px 0;
	}
}
/* End Page */

/* News */
.news-archive {
	margin-bottom: 40px;
}

.news-archive article {
	margin-bottom: 40px;
}

.sidebar {
	min-height: 400px;
	margin-bottom: 40px;
}

.sidebar ul {
	padding: 0;
	list-style: none;
}

.widget {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	.news-archive {
		min-height: 400px;
	}
}
/* News */

/* Home */
.sidebar .news-item {
	margin-bottom: 20px;
}
.sidebar img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.carousel {
	margin-bottom: 40px;
}
/* End Home */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
