/* Header */
.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

.header img {
	max-width: 100%;
	margin-bottom: 20px;
}

.header-img {
	position: relative;
}

.header-img .btn {
	margin-bottom: 10px;
}

.header-img .cta {
	position: absolute;
	right: 35px;
	bottom: 40px;
	text-align: right;
}

.header ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.header li {
	display: inline-block;
	margin-right: 20px;
}
/* End Header */

/* Footer */
.footer {
	margin-bottom: 40px;
	text-align: center;
}

@media (min-width: 768px) {
	.footer {
		text-align: left;
	}
	
	.footer .info {
		text-align: right;
	}
}
/* End Footer */

/* Page */
.page-nav ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.entry {
	min-height: 400px;
	margin-bottom: 40px;
}
/* End Page */

/* News */
.news-archive {
	min-height: 400px;
	margin-bottom: 40px;
}

.sidebar ul {
	padding: 0;
	list-style: none;
}

.widget {
	margin-bottom: 40px;
}
/* News */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
